<button (click)="logout()">Logout</button>
<div class="layout">
    <app-movie-list [movies]="movies" (selectMovie)="selectMovie($event)" (deletedMovie)="deletedMovie($event)"
        (editedMovie)="editedMovie($event)" (addedMovie)="addMovie()"></app-movie-list>
    <div>
        <app-movie-detail [movie]="selectedMovie" (updateMovie)="selectMovie($event)"></app-movie-detail>
        <app-movie-form *ngIf="editMovie" [movie]="editMovie" 
        (movieCreated)="movieCreated($event)" (movieUpdated)="movieUpdated($event)"></app-movie-form>
    </div>

</div>