.app {
  background-color: rgb(78, 73, 73);
  color: white;
  min-height: calc(1000vh - 100px);
  padding: 50px;
}

h1 {
  text-align: center;
  color: rgb(243, 12, 12);
  font-size: 3rem;
}

h1 fa {
  color: white;
  display: inline-block;
}
